//gradient color for overlay of background images
$color-primary: #1779ba;
$color-primary-light: #1cb5e0;
$color-primary-dark: #000046;

//background colors for project cards
$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;
$color-blurple-light: #2998ff;
$color-blurple-dark: #5643fa;
$color-red-light: #da5887;
$color-red-dark: #a0003a;
$color-gold-light: #ffe35cd9;
$color-gold-dark: #a09400d9;
$color-skyblue-light: #9ae0ff;
$color-skyblue-dark: #169dda;
$color-purple-light: #a3b3ff;
$color-purple-dark: #0031a0;
$color-kp-blue: #1f67da;
$color-kp-pink:  #a539d2;
$color-hz-dark-green: #006747;
$color-hz-light-green: #A9C47F;
$color-coke-red: #F14371;
$color-coke-green: #28C68E;

//section background color with no background image also for border
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark-3: #333;

//font colors
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//background img colors
$gateway-blue: #005cb9;
$html-red: #e54c2d;
$jquery-blue: #1a69ae;
$bootstrap-purple: #55309d;
$sass-pink: #CD669A;

//default font sizes
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
