.footer {
  background-color: $color-gray-dark-3;
  font-size: 1.4rem;
  padding: 1rem;
  color: $color-white;
  &-flex {
    display: flex;
    justify-content: flex-end;

    //900px and below: centered footer text and decreased font-size
    @include respond(tab-port) { 
      justify-content: center;
      font-size: 1rem;
    }
  }
}