
//dimensions and background image  of header-primary section
.header {
  position: relative;
  height: 85vh;
  background-image: linear-gradient( 
    to right bottom,
    rgba($color-primary-dark, 0.8),
    rgba($color-primary-light, 0.8)),
    url(../img/lebron.jpg);
  background-size: cover;
  background-position: top;
  
  //firefox added clip path 
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }
  @media (min-resolution: 192dpi) and (min-width: 37.5em),
         (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
         (min-width: 125em) {
      background-image: linear-gradient( 
        to right bottom,
        rgba($color-primary-dark, 0.8),
        rgba($color-primary-light, 0.8)),
      url(../img/lebron.jpg);
  }

  //600px and below: changed shape of polygon
  @include respond(phone) { 
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }


  //nike logo placement and animation
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    // animation: moveInBottom 1.5s ease-out .75s;
    // animation-fill-mode: backwards;
  }
  
  //height of nike logo
  &__logo {
    height: 8rem;
  }
  
  //animation and placement of header-primary text
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
