.navigation {
  //menu OPEN button
  &__checkbox {
    display: none;
  }
  
  //menu CLOSE button
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;
    
    //900px and below: changed positioning of menu button on home screen
    @include respond(tab-port) { 
      top: 4rem;
      right: 4rem;
    }
    
    //600px and below: changed positioning of menu button on home screen
    @include respond(phone) { 
      top: 3rem;
      right: 3rem;
    }
  }
  
  //menu background
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    
    //900px and below: changed positioning of close button on menu screen
    @include respond(tab-port) { 
      top: 4.5rem;
      right: 4.5rem;
    }
    
    //600px and below: changed positioning of menu button on menu screen
    @include respond(phone) { 
      top: 3.5rem;
      right: 3.5rem;
    }
  }
  
  //navigation menu
  &__nav {
    height: 100vh;
    opacity: 0;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  //nav menu list positioned center
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
  }
  
  //nav list item margin
  &__item {
    margin: 1rem;
  }
  
  //nav links whee background turns white with blue font color when hovered ( slide animation )
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 220%;
      transition: all .4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
  
  //when checkbox menu is pressed the nav bacground appears and overlays the content
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  //the nav links are showed when checkbox menu is pressed
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }
  //three bars menu icon
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    //created three horizonatal bars stacked on top of one another
    //:before is the top bar, & is the middle bar and :after is the bottom bar
    &,
    &:before,
    &:after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
      display: inline-block;
    }
    
    //made the top and bottom bar to be in absolut position and added animation
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }
    &:before { 
      top: -.8rem;
    }
    &:after {
      top: .8rem;
    }
  }
  &__button:hover &__icon:before {
    top: -1rem;
  }
  &__button:hover &__icon:after {
    top: 1rem;
  }
  
  //hid middle bar when checkbox menu is pressed
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  
  //rotate top bar when checkbox menu is pressed to form a X
  &__checkbox:checked + &__button &__icon:before {
    top: 0;
    transform: rotate(135deg);
  }
  
  //rotate bottom bar when checkbox menu is pressed to form a X
  &__checkbox:checked + &__button &__icon:after {
    top: 0;
    transform: rotate(-135deg);
  }
}