.card {
  //found the right perspective to make the card look like it flipping towards you
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  
  //styling of card when not hover (static)
  &__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //hides the backface of card(the flipped side)
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
    //styling for front of the card(non flipped side)
    &--front {
      background-color: $color-white;
    }
    
    //styling for back of card(flipped side)
    &--back {
      //needs to be flipped to 180 degrees before hover effect
      transform: rotateY(180deg); 
      
      //background color for back of card
      &-1 {
        background-image: linear-gradient(to right bottom, $color-orange-light, $color-orange-dark);
      }
      &-2 {
        background-image: linear-gradient(to right bottom, $color-blurple-light, $color-blurple-dark);
      }
      &-3 {
        background-image: linear-gradient(to right bottom, $color-skyblue-light, $color-skyblue-dark);
      }
      &-4 {
        background-image: linear-gradient(to right bottom, $color-red-light, $color-red-dark);
      }
      &-5 {
        background-image: linear-gradient(to right bottom, $color-gold-light, $color-gold-dark);
      }
      &-6 {
        background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark);
      }
      &-7 {
        background-image: linear-gradient(to right bottom, $color-purple-light, $color-purple-dark);
      }
    }
  }
  
  //.card:hover .card__side--front
  //flipping card 180 degrees when hovered, this is so the content on the backside won't appear backwards
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  //.card:hover .card__side--back
  //returning card back to the front side at 0 degrees
  &:hover &__side--back {
    transform: rotateY(0);
  }
  
  //project photo on top of card has cool color blend overlay
  &__picture {
    background-size: cover;
    background-position: center;
    height: 23rem;
    background-blend-mode: screen;
    //added bottom slant to image
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-radius: 3px 3px 0 0;
    //first card image has an orange blend/gradient
    &--1 {
      background-image: linear-gradient(to right bottom, $color-orange-light, $color-orange-dark), url(../img/pvitl-splash.png);
    }
    //second card image blue blend/gradient
    &--2 {
      background-image: linear-gradient(to right bottom, $color-blurple-light, $color-blurple-dark), url(../img/pvitl-app.png);
    }
    //third card image blue blend gradient
    &--3 {
      background-image: linear-gradient(to right bottom, $color-skyblue-light, $color-skyblue-dark), url(../img/ratecamp.png);
    }
     //fourth card image red blend gradient
    &--4 {
      background-image: linear-gradient(to right bottom, $color-red-light, $color-red-dark), url(../img/blogapp.png);
    }
    //fifth card image gold blend/gradient
    &--5 {
      background-image: linear-gradient(to right bottom, $color-gold-light, $color-gold-dark), url(../img/tone.png);
    }
    //sixth card image green blend/gradient
    &--6 {
      background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark), url(../img/gym-card-header.png);
    }
    //seventh card image purple blend/gradient
    &--7 {
      background-image: linear-gradient(to right bottom, $color-purple-light, $color-purple-dark), url(../img/dentist-header-card.png);
    }
  }
  
  //card header title (name of project/website)
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }
  
  //added gradient background to header title, used box-decoration-break to add padding even though the text is seperated
  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(to right bottom, rgba($color-orange-light, .85), rgba($color-orange-dark, .85));
    }
    &--2 {
      background-image: linear-gradient(to right bottom, rgba($color-blurple-light, .85), rgba($color-blurple-dark, .85));
    }
    &--3 {
      background-image: linear-gradient(to right bottom, rgba($color-skyblue-light, .85), rgba($color-skyblue-dark, .85));
    }
    &--4 {
      background-image: linear-gradient(to right bottom, rgba($color-red-light, .85), rgba($color-red-dark, .85));
    }
    &--5 {
      background-image: linear-gradient(to right bottom, $color-gold-light, $color-gold-dark);
    }
    &--6 {
      background-image: linear-gradient(to right bottom, rgba($color-green-light, .85), rgba($color-green-dark, .85));
    }
    &--7 {
      background-image: linear-gradient(to right bottom, rgba($color-purple-light, .85), rgba($color-purple-dark, .85));
    }
  }
  
  //card details, intro to the website/project
  &__details {
    width: 85%;
    text-align: justify;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    margin: 1rem auto;
    border-bottom: 1px solid $color-gray-light-2;
  }
  
  //back card styling of centering content
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  
  &__link-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
    .fa-7x {
      font-size: 20em;
      color: white;
      transition: all 0.5s ease;
      &:hover {
        color: $color-gray-light-2;
      }
    }
  }

  @include respond(tab-port) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    //styling of card when not hover (static)
    &__side {
      height: auto;
      position: relative;
      box-shadow: none;
      
      //styling for back of card(flipped side)
      &--back {
        //needs to be flipped to 180 degrees before hover effect
        transform: rotateY(0); 
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }
    
    //.card:hover .card__side--front
    //flipping card 180 degrees when hovered, this is so the content on the backside won't appear backwards
    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }
    
    //back card styling of centering content
    &__cta {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
    
    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
    &__link-box {
      margin-bottom: 2rem;
      .fa-7x {
        font-size: 10rem;
      }
    }
  }
}

@media (min-width: 901px) and (max-width: 1090px) {
  .mobile-project-text {
    padding: 0 2rem;
  }
}
