//photos in experience section
.composition {
  position: relative;
  &__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    transition: all 0.5s;
    // outline-offset: 2rem;
    background: $color-white;

    //900px and below: made images position relative and floated left
    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.33333%;
    }

    //postioning of the 8 images individually
    &--p1 {
      left: 0;
      top: -2rem;
      background: $html-red;

      //900px and below: removed absolute positioning
      @include respond(tab-port) {
        top: 0;
      }
    }
    &--p2 {
      left: 20%;
      top: -2rem;

      //900px and below: removed absolute positioning
      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }
    &--p3 {
      left: 40%;
      top: -2rem;

      //900px and below: removed absolute positioning
      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }
    &--p4 {
      left: 60%;
      top: -2rem;

      //900px and below: removed absolute positioning
      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }
    &--p5 {
      left: 0;
      top: 12rem;

      //900px and below: removed absolute positioning
      @include respond(tab-port) {
        top: 0;
      }
    }
    &--p6 {
      left: 20%;
      top: 12rem;
      background: $jquery-blue;

      //900px and below: removed absolute positioning
      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }
    &--p7 {
      left: 40%;
      top: 12rem;
      background: $bootstrap-purple;

      //900px and below: removed absolute positioning
      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }
    &--p8 {
      left: 60%;
      top: 12rem;
      background: $sass-pink;

      //900px and below: removed absolute positioning
      @include respond(tab-port) {
        top: 0;
        left: 0;
      }
    }

    &:hover {
      // outline: .8rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 2;
    }
  }
  //composition:hover composition__photo:not(:hover)
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

@media only screen and (min-width: 901px) and (max-width: 1134px) {
  .composition__photo {
    width: 35%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1077px) {
  .mobile-text {
    padding-left: 2rem;
  }
}
