//removing margin and padding, but including box-size
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

//custom font size to make it easier to convert to rem
//made font-size a percenatge so it would be easier for user to change in the browser
//62.5% of 16px is 10px(root font-size), ex: 30px = 3rem, 50px = 5rem
html {
  font-size: 62.5%;
}

//added border-box to body
body {
  box-sizing: border-box; 
}