//center text
.u-center-text {
  text-align: center;
}
//adding bottom margin for headers or buttons
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;

  //900px and below: decrased bottom margin
  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}
.u-margin-bottom-large {
  margin-bottom: 8rem;

  //900px and below: decrased bottom margin
  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}

//adding top margins for headers or buttons
.u-margin-top-medium {
  margin-top: 6rem;
}
.u-margin-top-large {
  margin-top: 8rem;
}
.u-margin-top-huge {
  margin-top: 10rem;
}

//added margin for freelance column card
.margin-bottom-exception {
  @include respond(tab-port) {
    margin-bottom: 6rem;
  }
}
