//center text
.u-center-text {
  text-align: center;
}
//adding bottom margin for headers 
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-large {
  margin-bottom: 8rem;
}
