//experience section styling
.section-experience {
  background: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  
  //900px and below: decrease padding for experience section
  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

//about section styling
.section-about {
  padding: 20rem 0;
  background-image: linear-gradient( 
    to right bottom,
    rgba($color-primary-dark, 0.8),
    rgba($color-primary-light, 0.8)),
  url("https://media1.giphy.com/media/3o72FehvxlFm20eIoM/giphy.gif");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
  //styling the direct children of .section-about, which is .row
  //this will make the about section boxes to not be slanted 
  // * means all of the children, but placing > in front means you just want the direct child(s)
  & > * {
    transform: skewY(7deg);
  }
  
  //900px and below: decrease padding for about section
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

//projects section styling 
.section-projects {
  background: $color-gray-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  
  //900px and below: decrease padding for projects section
  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

//stories section styling 
.section-stories {
  position: relative;
  padding: 15rem 0;
  
  //900px and below: decrease padding for stories section
  @include respond(tab-port) {
    padding: 10rem 0;
  }
  background-image: -webkit-linear-gradient(top left, rgba($color-primary-dark, 0.8), rgba($color-primary-light, 0.8)),
  url(../img/nat-4.jpg);
  background-image: -o-linear-gradient(top left, rgba($color-primary-dark, 0.8), rgba($color-primary-light, 0.8)),
  url(../img/nat-4.jpg);
  background-image: linear-gradient(to bottom right, rgba($color-primary-dark, 0.8), rgba($color-primary-light, 0.8)),
  url(../img/nat-4.jpg);
}